@import "src/styles/variables";

.project {
  &-header {
    color: #ffffff;
  }

  &-title {
    color: $pink;
  }

  &-offset {
    color: $green;
  }
}

.bg-dark {
  background-color: rgba(0, 0, 0, .5);
}
